.singleTeam .hero{
    width: 100%;
}

.singleTeam{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.singleTeam .display1{
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #d2d2d2;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.statscontainer{
    display: flex;
    flex-direction: column;
}

.stadium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}